body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #e3e3e3;
    color: #343a40;
    flex-shrink: 0;
}

.sidebar a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar a:hover {
    background-color: #495057;
    color: #fff;
}

.content {
    flex-grow: 1;
    background-color: #f8f9fa53;
    /* padding: 20px; */

}

.card {
    width: 100%;
}